name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'
          cache: 'npm'

      - name: Install dependencies
        working-directory: ./btc-signer
        run: npm ci

      - name: Audit Dependencies
        working-directory: ./btc-signer
        run: npm audit --audit-level=high

      - name: Build
        working-directory: ./btc-signer
        run: npm run build

  unit-tests:
    name: Unit Tests
    needs: [build]
    uses: ./.github/workflows/unit-tests-btc.yml

  e2e-tests:
    name: E2E Tests
    needs: [build]
    uses: ./.github/workflows/e2e-tests-btc.yml
