name: Unit Tests

on:
  workflow_call:

jobs:
  run-unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'
          cache: 'npm'
          cache-dependency-path: btc-signer/package-lock.json

      - name: Install dependencies
        working-directory: ./btc-signer
        run: npm ci

      - name: Run unit tests
        working-directory: ./btc-signer
        run: npm test
